In [1]:
import pandas as pd
pd.__version__

'1.0.1'

In [21]:
data={'Bihar':['Madhubani','Dharbhanga','Smastipur'],
     'Uttar Pradesh':['Gorakhpur','Lucknow','Kanpur']
     }
data1={'class 10':[[94,'shanak'],[95,'Risahv'],[98,'Rahul'],[99,'payal']],'class 11':[[84,'Ritika'],[86,'Sonu'],[87,'Aditya'],[88,'Praksh']],'class12':[[75,'Prakhar'],[76,'Shyam'],[77,'Rithik'],[78,'Shona']]}
packet1=pd.DataFrame(data1)
packet=pd.DataFrame(data)
packet1

       class 10      class 11        class12
0  [94, shanak]  [84, Ritika]  [75, Prakhar]
1  [95, Risahv]    [86, Sonu]    [76, Shyam]
2   [98, Rahul]  [87, Aditya]   [77, Rithik]
3   [99, payal]  [88, Praksh]    [78, Shona]

In [28]:
packet.loc[2]
# packet.append(packet1)

Bihar            Smastipur
Uttar Pradesh       Kanpur
Name: 2, dtype: object

In [ ]:
# c