In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
police=pd.read_csv('Police Data.csv')

In [4]:
police.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [5]:
police.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [23]:
police.shape

(65535, 16)

In [6]:
police.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [25]:
police.drop(columns='country_name',inplace=True)

In [26]:
police.head(4)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year
0,2005-01-02,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
1,2005-01-18,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,2005

In [7]:
police['stop_time'].sort_values()

28059    0:00
8244     0:00
115      0:00
5854     0:00
50632    0:00
         ...
24492    9:59
31223    9:59
51274    9:59
30399    9:59
57287    9:59
Name: stop_time, Length: 65535, dtype: object

In [8]:
police.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [9]:
police['stop_date']=pd.to_datetime(police['stop_date'])

In [10]:
police['year']=police['stop_date'].dt.year

In [11]:
police[(police['violation']=='Speeding') & (police['driver_age']<=20) & (police['drugs_related_stop']==True)&(police['driver_gender']=='M')][['driver_gender','year']].value_counts()

driver_gender  year
M              2008    6
               2006    4
               2009    4
               2010    4
               2011    3
               2005    2
               2007    2
               2012    1
dtype: int64

In [12]:
police[(police['violation']=='Speeding') & (police['driver_age']<=20) & (police['drugs_related_stop']==True)&(police['driver_gender']=='F')][['driver_gender','year']].value_counts()

driver_gender  year
F              2008    2
               2009    2
               2010    1
               2011    1
dtype: int64

In [13]:
police.shape

(65535, 16)

In [14]:
police['violation'].value_counts()

Speeding               37204
Moving violation       11926
Equipment               6516
Other                   3583
Registration/plates     2243
Seat belt                  3
Name: violation, dtype: int64

In [15]:
police['driver_gender'].value_counts()

M    45164
F    16310
Name: driver_gender, dtype: int64

In [17]:
police.memory_usage(deep=True)

Index                     128
stop_date              524280
stop_time             4038446
country_name           524280
driver_gender         3695444
driver_age_raw         524280
driver_age             524280
driver_race           3958203
violation_raw         4544604
violation             4241646
search_conducted        65535
search_type           2205713
stop_outcome          4134183
is_arrested           2106160
stop_duration         4134589
drugs_related_stop      65535
year                   524280
dtype: int64

In [28]:
police.head(4)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year
0,2005-01-02,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
1,2005-01-18,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,2005

In [20]:
police[(police['search_conducted']==True) & (police['is_arrested']==True) & (police['drugs_related_stop']==True) & (police['driver_age']<=20)].head(7)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year
40,2005-10-01,0:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30 Min,True,2005
219,2005-10-07,23:30,NaN,M,1986.0,19.0,White,Suspicious Person,Other,True,Probable Cause,Arrest Passenger,True,16-30 Min,True,2005
246,2005-10-08,20:40,NaN,M,1987.0,18.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Passenger,True,16-30 Min,True,2005
3771,2006-02-07,0:13,NaN,M,1987.0,19.0,Black,Violation of City/Town Ordinance,Other,True,"Incident to Arrest,Probable Cause",Arrest Passenger,True,30+ Min,True,2006
9155,2006-08-14,0:30,NaN,M,1988.0,18.0,White,Speeding,Speeding,True,"Incident to Arrest,Probable Cause",Arrest Driver,True,30+ Min,True,2006
12389,2006-12-01,14:00,NaN,M,1987.0,19.0,Black,Speeding,Speeding,True,Probable Cause,Arrest Passenger,True,30+ Min,True,2006
18128,2007-06-23,20:39,NaN,M,1989.0,18.0,White,Speeding,Speeding,True,Probable Cause,Arrest Driver,True,16-30 Min,True,2007

In [22]:
police['country_name']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
65530   NaN
65531   NaN
65532   NaN
65533   NaN
65534   NaN
Name: country_name, Length: 65535, dtype: float64

In [27]:
police.head(5)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year
0,2005-01-02,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
1,2005-01-18,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,2005
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005

In [29]:
police['stop_time'].value_counts()

11:00    280
10:00    280
9:00     252
10:30    251
9:30     246
        ...
5:42       1
4:56       1
5:25       1
4:57       1
4:54       1
Name: stop_time, Length: 1432, dtype: int64

In [34]:
def solve1(A,B):
    max1=0
    min1=0
    ans=0
    for i in range(len(A)):
        max1=max(max1,A[i])
    while(min1<=max1):
        mid=min1+(max1-min1)//2
        wood=0
        for j in range(len(A)):
            if(A[j]-mid>0):
                wood= wood +A[j]-mid
        if(wood>=B):
            min1=mid+1
            ans=max(ans,mid)
        else:
            mid -=1
    return ans

In [35]:
A = [117,84,50,119,74,128]
B = 5

In [36]:
solve1(A,B)

KeyboardInterrupt: